extends email-layout

block content
  h2 Meeting Scheduled
  p Greetings!, 
  p You have a <strong>#{purpose}</strong> scheduled at <strong>#{startTime}</strong>, for <strong>#{duration} mins</strong> in <strong>#{roomName}</strong>.
  br
  p Please make yourself available on time.
  br
  h5 Regards 
  h5 Neosoft Technologies 