extends email-layout

block content
  h2 Meeting Cancelled
  p Greetings! 
  p Your scheduled meeting at <strong>#{startTime}</strong> for the <strong>#{purpose}</strong> in <strong>#{roomName}</strong> has been cancelled by the Organiser.
  br
  p Please be Informed.
  br
  h5 Regards 
  h5 Neosoft Technologies 