
extends email-layout

block content
  h2 Password Reset
  p Hello. You have requested a password reset. Here is the verification code you can use while updating your Password. Please note this code is only valid for the next hour.
  h5 #{code}

  br
  p If you didn't request this email, please ignore it.
