extends email-layout

block content
  h2 Verify Account
  //- p Hello #{name}. Please follow the below link/code to complete your Registration.
  p Hello  #{name}, Please verify yourself using the code posted below.
  p Return to your app providing <strong>#{code}</strong> to gain access.
  br
  h5 Neosoft Technologies 